<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Matador de Monstro</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://unpkg.com/vue"></script>
  <link rel="shortcut icon" href="./images/icon.png" type="image/x-icon">
</head>
<body>
  <div id="app">
    <h1 class="title">Monster Killer</h1>

    <div class="panel scores">
      <div class="score">
        <h1>Jogador</h1>
        <div class="life-bar">
          <div class="life"
            :class="{danger: playerLife < 20}"
            :style="{width: playerLife + '%'}"
          ></div>
        </div>
        <!-- .life-bar -->
        <div>{{ playerLife }}%</div>
      </div>
      <!-- .score -->

      <div class="score">
        <h1>Monstro</h1>
        <div class="life-bar">
          <div class="life"
            :class="{danger: monsterLife < 20}"
            :style="{width: monsterLife + '%'}"
          ></div>
        </div>
        <!-- .life-bar -->
        <div>{{ monsterLife }}%</div>
      </div>
      <!-- .score -->
    </div>
    <!-- .panel scores -->

    <div class="panel result" v-if="hasResult">
      <div class="win" v-if="monsterLife == 0">
          <span>Você ganhou!</span> <img src="./images/winner.png" alt="winner">
      </div>
      <div class="lose" v-else>
        <span>Você perdeu!</span> <img src="./images/loser.png" alt="loser">
      </div>
    </div>
    <!-- .panel result -->

    <div class="panel controls">
      <template v-if="running">
        <button class="btn attack" @click="attack(false)">Ataque</button>
        <button class="btn special-attack" @click="attack(true)">Ataque Especial</button>
        <button class="btn heal" @click="healAndHurt">Curar</button>
        <button class="btn give-up" @click="giveUpGame">Desistir</button>
      </template>
      <button class="btn new-game" v-else @click="startGame">Iniciar Jogo</button>
    </div>
    <!-- .panel controls -->

    <div class="panel logs" v-if="logs.length">
      <ul>
        <li v-for="log in logs" class="log" :class="log.style">{{ log.text }}</li>
      </ul>
    </div>
    <!-- .panel logs -->
  </div>
  <!-- #app -->
  
  <script src="app.js"></script>
</body>
</html>